{% extends 'main.html' %}

{% block content %}
<h1>Autos</h1>
<table class="table">
<thead class="border:1px solid black;">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Marca</th>
        <th scope="col">Nombre</th>
        <th scope="col">Modelo</th>
        <th scope="col">Color</th>

    </tr>

</thead>
<tbody>
    {% for auto in autos %}
    <tr>

    <td scope="row">{{auto.id}}</td>
    <td>{{auto.marca}}</td>
    <td>{{auto.nombre}}</td>
    <td>{{auto.modelo}}</td>
    <td>{{auto.color}}</td>
 
    </tr>
    {%endfor%}

</tbody>

</table>
{%endblock content %}